* {

    Margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {

background-color: white;
padding: 20px;

}

header > h1 {

    color: rgb(255, 69, 69);
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-style: italic;
}

body {

  background-color: #010536

}

.navigate {

    border: 5px outset rgb(255, 69, 69);
    background-color: #010536;
    text-align: center;
    width: 750px;
    height: 400px;
    padding: 30px;
    margin: 15px auto;
    
}